:root {
  --color-main: rgb(54, 140, 220);
  --color-error:  rgb(225, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--color-main);
  padding-top: 20px;
}